In [15]:
import pandas as pd
import datetime

In [16]:
xls = pd.ExcelFile('/Users/tzvip/PycharmProjects/Financial-compensation-calculator/data/data4.xlsx')
xls

## Load workers data

### Replacing all the nan values with -1 <br> and replacing all the '-' to -1

In [17]:
df1 = pd.read_excel(xls, 'data').fillna(-1)
df1 = df1.replace('-', -1)
df1 = df1.replace('התפטרות', 'resignation')
df1 = df1.replace('פיטורין', 'dismissal')
df1 = df1.replace('פרישה לגמלאות', 'retirement')
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,-1.0,שם,שם משפחה,מין,תאריך לידה,תאריך תחילת עבודה,שכר,תאריך קבלת סעיף 14,אחוז סעיף 14,שווי נכס,הפקדות,תאריך עזיבה,תשלום מהנכס,השלמה בצ'ק,סיבת עזיבה
1,1.0,חיים,גלוקמן,M,1981-09-09 00:00:00,2013-11-10 00:00:00,6384.38,2013-11-10 00:00:00,100,0,0,-1,0,-1,-1
2,2.0,שרה,אברג'ל,F,1981-08-23 00:00:00,2014-06-10 00:00:00,17540.6,2014-06-10 00:00:00,72,0,0,-1,0,-1,-1
3,3.0,מאיר,טרבלסי,M,1962-01-17 00:00:00,1991-02-10 00:00:00,19134.4,-1,-1,420750,19134.4,2019-06-01 00:00:00,400000,-1,resignation
4,4.0,אירית,אשכנזי,F,1963-08-06 00:00:00,2002-06-07 00:00:00,8775,-1,-1,107100,8775,-1,0,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,146.0,נעה,חנינה,F,1989-03-30 00:00:00,2018-04-21 00:00:00,8177.34,-1,-1,8393.4,8177.34,-1,0,-1,-1
147,147.0,רון,לקסמן,M,1981-05-13 00:00:00,2018-03-01 00:00:00,9173.44,-1,-1,9545.22,9173.44,-1,0,-1,-1
148,148.0,מקסים,גרובר,M,1977-01-10 00:00:00,2018-03-08 00:00:00,7181.25,-1,-1,7922.54,7181.25,-1,0,-1,-1
149,149.0,פני,מוזס,F,1982-08-19 00:00:00,2018-04-13 00:00:00,5109.38,-1,-1,4907.56,5109.38,-1,0,-1,-1
150,150.0,מרינה,בר לב,F,1991-09-24 00:00:00,2018-04-14 00:00:00,5268.75,-1,-1,5067.4,5268.75,-1,0,-1,-1

In [18]:
# Converting the data frame using to_dict to create for each line worker list with values
data_dict = df1.to_dict('split')
header_dict = data_dict['data'].pop(0)  # Poping the header list
data_dict['data']

[[1.0,
  'חיים',
  'גלוקמן ',
  'M',
  Timestamp('1981-09-09 00:00:00'),
  Timestamp('2013-11-10 00:00:00'),
  6384.375,
  Timestamp('2013-11-10 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [2.0,
  'שרה',
  "אברג'ל ",
  'F',
  Timestamp('1981-08-23 00:00:00'),
  Timestamp('2014-06-10 00:00:00'),
  17540.625,
  Timestamp('2014-06-10 00:00:00'),
  72,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [3.0,
  'מאיר',
  'טרבלסי',
  'M',
  Timestamp('1962-01-17 00:00:00'),
  Timestamp('1991-02-10 00:00:00'),
  19134.375,
  -1,
  -1,
  420750,
  19134.375,
  Timestamp('2019-06-01 00:00:00'),
  400000,
  -1,
  'resignation'],
 [4.0,
  'אירית',
  'אשכנזי',
  'F',
  Timestamp('1963-08-06 00:00:00'),
  Timestamp('2002-06-07 00:00:00'),
  8775,
  -1,
  -1,
  107100,
  8775,
  -1,
  0,
  -1,
  -1],
 [5.0,
  'נתנאל',
  'קיופמן',
  'M',
  Timestamp('1963-08-28 00:00:00'),
  Timestamp('2016-08-01 00:00:00'),
  9970.3125,
  Timestamp('2016-08-01 00:00:00'),
  100,
  0,
  0,
  Timestamp('2019-10-01 00:00:00'),
  -1,
  -1,
  'resignation'],
 [6.0,
  'משה',
  'קופרמן',
  'M',
  Timestamp('1964-08-20 00:00:00'),
  Timestamp('1993-01-25 00:00:00'),
  12759.375,
  -1,
  -1,
  229500,
  12759.375,
  Timestamp('2019-07-15 00:00:00'),
  240000,
  35000,
  'dismissal'],
 [7.0,
  'חיה ',
  'לוי',
  'F',
  Timestamp('1964-07-01 00:00:00'),
  Timestamp('2017-12-03 00:00:00'),
  19666.355468749975,
  Timestamp('2017-12-03 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [8.0,
  'צילה',
  'ברנבוים',
  'F',
  Timestamp('1965-07-13 00:00:00'),
  Timestamp('1994-07-01 00:00:00'),
  8486.53125,
  -1,
  -1,
  198900,
  8486.53125,
  Timestamp('2019-08-07 00:00:00'),
  200000,
  30000,
  'dismissal'],
 [9.0,
  'אביגל',
  "מצ'טנר",
  'F',
  Timestamp('1969-02-28 00:00:00'),
  Timestamp('2016-10-31 00:00:00'),
  9332.8125,
  Timestamp('2016-10-31 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [10.0,
  'אבי',
  'גולדמן',
  'M',
  Timestamp('1969-08-11 00:00:00'),
  Timestamp('2017-01-21 00:00:00'),
  7579.6875,
  Timestamp('2017-01-21 00:00:00'),
  72,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [11.0,
  'משה',
  'אבולפיה',
  'M',
  Timestamp('1969-08-01 00:00:00'),
  Timestamp('2002-08-01 00:00:00'),
  19134.375,
  -1,
  -1,
  290700,
  19134.375,
  -1,
  0,
  -1,
  -1],
 [12.0,
  'אלקס',
  'פלטניקוב',
  'M',
  Timestamp('1969-09-17 00:00:00'),
  Timestamp('2016-12-20 00:00:00'),
  5985.9375,
  Timestamp('2016-12-20 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [13.0,
  'מיכאל',
  'גולד',
  'M',
  Timestamp('1969-11-27 00:00:00'),
  Timestamp('2000-06-11 00:00:00'),
  20329.6875,
  Timestamp('2019-03-07 00:00:00'),
  100,
  191250,
  0,
  -1,
  0,
  -1,
  -1],
 [14.0,
  'מרים',
  'אדלשטיין',
  'F',
  Timestamp('1969-10-22 00:00:00'),
  Timestamp('2002-05-01 00:00:00'),
  20250,
  -1,
  -1,
  168300,
  20250,
  Timestamp('2019-04-03 00:00:00'),
  180000,
  -1,
  'resignation'],
 [15.0,
  'עדי',
  'וקסמן',
  'M',
  Timestamp('1966-09-15 00:00:00'),
  Timestamp('2011-07-11 00:00:00'),
  26625,
  Timestamp('2011-07-11 00:00:00'),
  72,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [16.0,
  'אסנת',
  'גולדברג',
  'F',
  Timestamp('1967-12-04 00:00:00'),
  Timestamp('2001-05-30 00:00:00'),
  7978.125,
  Timestamp('2019-11-02 00:00:00'),
  72,
  114750,
  0,
  -1,
  0,
  -1,
  -1],
 [17.0,
  'רחל',
  'בן משה',
  'F',
  Timestamp('1967-02-16 00:00:00'),
  Timestamp('2006-06-18 00:00:00'),
  14751.5625,
  Timestamp('2006-06-18 00:00:00'),
  72,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [18.0,
  'נקול',
  'פטרוק',
  'F',
  Timestamp('1967-05-15 00:00:00'),
  Timestamp('2011-01-30 00:00:00'),
  18337.5,
  Timestamp('2011-01-30 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [19.0,
  'אנטולי',
  'וסרמן',
  'M',
  Timestamp('1968-01-12 00:00:00'),
  Timestamp('2017-03-30 00:00:00'),
  17939.0625,
  Timestamp('2019-10-01 00:00:00'),
  100,
  38250,
  0,
  -1,
  0,
  -1,
  -1],
 [20.0,
  'נורית',
  'שמיר',
  'F',
  Timestamp('1969-03-02 00:00:00'),
  Timestamp('2017-04-28 00:00:00'),
  7579.6875,
  -1,
  -1,
  91800,
  7579.6875,
  Timestamp('2019-12-01 00:00:00'),
  82000,
  -1,
  'resignation'],
 [21.0,
  'משה',
  'שלמה ',
  'M',
  Timestamp('1968-05-07 00:00:00'),
  Timestamp('2001-05-30 00:00:00'),
  16743.75,
  Timestamp('2001-05-30 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [22.0,
  'טל',
  'בואדנו',
  'F',
  Timestamp('1968-08-24 00:00:00'),
  Timestamp('2011-05-10 00:00:00'),
  39375,
  Timestamp('2019-09-30 00:00:00'),
  72,
  214200,
  0,
  -1,
  0,
  -1,
  -1],
 [23.0,
  'בוריס',
  'לויטין',
  'M',
  Timestamp('1969-01-29 00:00:00'),
  Timestamp('2016-06-30 00:00:00'),
  20315.808593749975,
  Timestamp('2019-09-30 00:00:00'),
  100,
  50000,
  0,
  Timestamp('2019-12-06 00:00:00'),
  50000,
  -1,
  'resignation'],
 [24.0,
  'אור',
  'בוזגלו',
  'M',
  Timestamp('1976-06-21 00:00:00'),
  Timestamp('2017-04-01 00:00:00'),
  20250,
  Timestamp('2017-04-01 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [25.0,
  'שי',
  'צוריקר',
  'M',
  Timestamp('1970-12-29 00:00:00'),
  Timestamp('2011-03-29 00:00:00'),
  7579.6875,
  Timestamp('2011-03-29 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [26.0,
  'אוסנת',
  'רוטברג',
  'F',
  Timestamp('1971-04-22 00:00:00'),
  Timestamp('2017-05-17 00:00:00'),
  17756.511718749945,
  Timestamp('2019-11-30 00:00:00'),
  100,
  35000,
  0,
  -1,
  0,
  -1,
  -1],
 [27.0,
  'אבי',
  'שטרן',
  'M',
  Timestamp('1973-03-29 00:00:00'),
  Timestamp('2006-06-18 00:00:00'),
  9571.875,
  Timestamp('2006-06-18 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [28.0,
  'מיכל',
  'ברדה',
  'F',
  Timestamp('1973-02-05 00:00:00'),
  Timestamp('2016-06-30 00:00:00'),
  19134.375,
  -1,
  -1,
  191250,
  19134.375,
  -1,
  0,
  -1,
  -1],
 [29.0,
  'מוטי',
  'סילברבג',
  'M',
  Timestamp('1973-08-19 00:00:00'),
  Timestamp('2013-05-30 00:00:00'),
  16582.515624999945,
  Timestamp('2013-05-30 00:00:00'),
  100,
  0,
  0,
  Timestamp('2019-04-03 00:00:00'),
  0,
  -1,
  'resignation'],
 [30.0,
  'שרון',
  'קמחי',
  'M',
  Timestamp('1977-03-16 00:00:00'),
  Timestamp('2015-03-24 00:00:00'),
  7978.125,
  Timestamp('2015-03-24 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [31.0,
  'נעה',
  'מיכלשוילי',
  'F',
  Timestamp('1981-06-21 00:00:00'),
  Timestamp('2016-07-26 00:00:00'),
  6554.109375,
  Timestamp('2016-07-26 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [32.0,
  'מוחמד',
  'אבוארר',
  'M',
  Timestamp('1981-06-22 00:00:00'),
  Timestamp('2008-01-17 00:00:00'),
  14353.125,
  -1,
  -1,
  137700,
  14353.125,
  -1,
  0,
  -1,
  -1],
 [33.0,
  'ליאת',
  'סעדיה',
  'F',
  Timestamp('1982-04-01 00:00:00'),
  Timestamp('2007-06-30 00:00:00'),
  6125.390625,
  -1,
  -1,
  61200,
  0,
  -1,
  0,
  -1,
  -1],
 [34.0,
  'סטס',
  'ברזובסקי',
  'M',
  Timestamp('1975-10-23 00:00:00'),
  Timestamp('2002-05-01 00:00:00'),
  21525,
  Timestamp('2019-04-07 00:00:00'),
  100,
  183600,
  0,
  -1,
  0,
  -1,
  -1],
 [35.0,
  'שילו',
  'ממון',
  'M',
  Timestamp('1979-12-03 00:00:00'),
  Timestamp('2015-09-06 00:00:00'),
  8137.5,
  Timestamp('2015-09-06 00:00:00'),
  100,
  0,
  0,
  Timestamp('2019-10-28 00:00:00'),
  0,
  -1,
  'resignation'],
 [36.0,
  'דניאל',
  'סרגון',
  'M',
  Timestamp('1972-06-21 00:00:00'),
  Timestamp('2009-11-01 00:00:00'),
  6384.375,
  Timestamp('2009-11-01 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [37.0,
  'אשר',
  'ורדה',
  'M',
  Timestamp('1972-08-12 00:00:00'),
  Timestamp('2006-10-01 00:00:00'),
  13954.6875,
  Timestamp('2019-07-01 00:00:00'),
  100,
  40000,
  0,
  -1,
  0,
  -1,
  -1],
 [38.0,
  'גבי',
  'בן דוד',
  'M',
  Timestamp('1972-08-16 00:00:00'),
  Timestamp('2011-08-04 00:00:00'),
  11962.5,
  Timestamp('2011-08-04 00:00:00'),
  72,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [39.0,
  'נדב',
  'זקס',
  'M',
  Timestamp('1980-11-12 00:00:00'),
  Timestamp('2012-12-27 00:00:00'),
  8376.5625,
  Timestamp('2012-12-27 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [40.0,
  'שרלי',
  'רם',
  'F',
  Timestamp('1992-12-21 00:00:00'),
  Timestamp('2014-02-28 00:00:00'),
  6185.15625,
  Timestamp('2014-02-28 00:00:00'),
  100,
  0,
  0,
  Timestamp('2019-01-25 00:00:00'),
  0,
  -1,
  'dismissal'],
 [41.0,
  'אירנה',
  'ולקוב',
  'F',
  Timestamp('1955-04-23 00:00:00'),
  Timestamp('2001-09-01 00:00:00'),
  10209.375,
  Timestamp('2014-01-30 00:00:00'),
  100,
  61200,
  0,
  -1,
  0,
  -1,
  -1],
 [42.0,
  'אנה',
  'בלושטיין',
  'F',
  Timestamp('1993-06-07 00:00:00'),
  Timestamp('2017-02-03 00:00:00'),
  6782.8125,
  Timestamp('2017-02-03 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [43.0,
  'נטלי',
  'קלימן',
  'F',
  Timestamp('1978-03-04 00:00:00'),
  Timestamp('2018-01-06 00:00:00'),
  10368.75,
  Timestamp('2018-01-06 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [44.0,
  'חיים',
  'שפיגל',
  'M',
  Timestamp('1972-05-25 00:00:00'),
  Timestamp('2011-01-30 00:00:00'),
  10727.34375,
  Timestamp('2011-01-30 00:00:00'),
  72,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [45.0,
  'לימור',
  'גרוטו',
  'F',
  Timestamp('1995-06-16 00:00:00'),
  Timestamp('2017-02-05 00:00:00'),
  6185.15625,
  Timestamp('2017-02-05 00:00:00'),
  72,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [46.0,
  'דיאנה',
  'וקסלר',
  'F',
  Timestamp('1955-05-24 00:00:00'),
  Timestamp('1997-05-01 00:00:00'),
  11962.5,
  -1,
  -1,
  267750,
  11962.5,
  -1,
  0,
  -1,
  -1],
 [47.0,
  'ולנטינה',
  "ספוג'ניקוב",
  'F',
  Timestamp('1954-10-04 00:00:00'),
  Timestamp('2014-01-23 00:00:00'),
  7978.125,
  Timestamp('2014-01-23 00:00:00'),
  72,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [48.0,
  'רחל',
  'מור',
  'F',
  Timestamp('1970-08-29 00:00:00'),
  Timestamp('1999-03-01 00:00:00'),
  12121.875,
  Timestamp('2014-08-01 00:00:00'),
  72,
  91800,
  0,
  -1,
  0,
  -1,
  -1],
 [49.0,
  'רומן',
  'ברון',
  'M',
  Timestamp('1948-09-18 00:00:00'),
  Timestamp('2000-09-10 00:00:00'),
  5832.9375,
  Timestamp('2013-09-30 00:00:00'),
  100,
  45900,
  0,
  Timestamp('2019-07-31 00:00:00'),
  49200,
  25000,
  'retirement'],
 [50.0,
  'אילן',
  'ברורמן',
  'M',
  Timestamp('1965-08-22 00:00:00'),
  Timestamp('2018-03-29 00:00:00'),
  19134.375,
  Timestamp('2018-03-29 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [51.0,
  'רות',
  'שקולניק',
  'F',
  Timestamp('1970-07-26 00:00:00'),
  Timestamp('2008-11-14 00:00:00'),
  8257.828125,
  Timestamp('2008-11-14 00:00:00'),
  72,
  0,
  0,
  Timestamp('2019-02-01 00:00:00'),
  0,
  -1,
  'dismissal'],
 [52.0,
  'שלמה',
  'ברודי',
  'M',
  Timestamp('1974-10-12 00:00:00'),
  Timestamp('2018-03-30 00:00:00'),
  20250,
  Timestamp('2018-03-30 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  'dismissal'],
 [53.0,
  'איגל',
  'פז',
  'M',
  Timestamp('1982-05-02 00:00:00'),
  Timestamp('2013-02-28 00:00:00'),
  17142.1875,
  Timestamp('2013-02-28 00:00:00'),
  100,
  0,
  0,
  Timestamp('2019-06-01 00:00:00'),
  0,
  -1,
  'dismissal'],
 [54.0,
  'יואב',
  'מורדכי',
  'M',
  Timestamp('1980-03-18 00:00:00'),
  Timestamp('2017-10-03 00:00:00'),
  12759.375,
  Timestamp('2017-10-03 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  'dismissal'],
 [55.0,
  'דוד',
  'זינו',
  'M',
  Timestamp('1976-07-04 00:00:00'),
  Timestamp('2016-10-03 00:00:00'),
  26625,
  Timestamp('2016-10-03 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  'dismissal'],
 [56.0,
  'רונן',
  'פלדמן',
  'M',
  Timestamp('1977-09-03 00:00:00'),
  Timestamp('2007-07-15 00:00:00'),
  19373.4375,
  -1,
  -1,
  191250,
  19373.4375,
  -1,
  0,
  -1,
  'dismissal'],
 [57.0,
  'עודד',
  'גליקסמן',
  'M',
  Timestamp('1956-02-05 00:00:00'),
  Timestamp('2017-05-08 00:00:00'),
  22760.15625,
  Timestamp('2017-05-08 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  'dismissal'],
 [58.0,
  'אביטל',
  'שליט',
  'F',
  Timestamp('1985-01-04 00:00:00'),
  Timestamp('2004-09-01 00:00:00'),
  16743.75,
  Timestamp('2004-09-01 00:00:00'),
  100,
  0,
  0,
  Timestamp('2019-05-02 00:00:00'),
  0,
  -1,
  'dismissal'],
 [59.0,
  'אגם',
  "ז'אן",
  'F',
  Timestamp('1981-03-14 00:00:00'),
  Timestamp('2018-04-16 00:00:00'),
  11165.625,
  Timestamp('2018-04-16 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  'dismissal'],
 [60.0,
  'אלנה',
  'קרבצוב',
  'F',
  Timestamp('1954-02-28 00:00:00'),
  Timestamp('1999-12-01 00:00:00'),
  9420.46875,
  Timestamp('2017-06-01 00:00:00'),
  72,
  114750,
  0,
  -1,
  0,
  -1,
  'dismissal'],
 [61.0,
  'דרור',
  'כהן',
  'M',
  Timestamp('1972-04-16 00:00:00'),
  Timestamp('2009-01-01 00:00:00'),
  10755.234375,
  -1,
  -1,
  107100,
  0,
  Timestamp('2019-01-01 00:00:00'),
  102500,
  25000,
  'dismissal'],
 [62.0,
  'מור',
  'שויט',
  'M',
  Timestamp('1981-05-16 00:00:00'),
  Timestamp('2017-08-30 00:00:00'),
  13556.25,
  Timestamp('2017-08-30 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  'dismissal'],
 [63.0,
  'ולד',
  'ליברמן',
  'M',
  Timestamp('1979-04-09 00:00:00'),
  Timestamp('2017-08-30 00:00:00'),
  12759.375,
  Timestamp('2017-08-30 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  'dismissal'],
 [64.0,
  'חנה',
  'שניידר',
  'F',
  Timestamp('1950-07-29 00:00:00'),
  Timestamp('2002-05-01 00:00:00'),
  16425,
  -1,
  -1,
  191250,
  16425,
  -1,
  0,
  -1,
  'dismissal'],
 [65.0,
  'יוסי',
  'קפלן',
  'M',
  Timestamp('1967-01-17 00:00:00'),
  Timestamp('2005-08-04 00:00:00'),
  20728.125,
  -1,
  -1,
  267750,
  20728.125,
  Timestamp('2019-10-04 00:00:00'),
  278800,
  40000,
  'dismissal'],
 [66.0,
  'פאינה',
  'בלוגולבסקי',
  'F',
  Timestamp('1972-02-10 00:00:00'),
  Timestamp('2016-08-03 00:00:00'),
  16743.75,
  Timestamp('2016-08-03 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  'dismissal'],
 [67.0,
  'סמדר',
  'שילו',
  'F',
  Timestamp('1963-04-22 00:00:00'),
  Timestamp('2007-12-01 00:00:00'),
  6782.8125,
  -1,
  -1,
  60435,
  6782.8125,
  -1,
  0,
  -1,
  'dismissal'],
 [68.0,
  'נחום',
  'ברוך',
  'M',
  Timestamp('1965-05-09 00:00:00'),
  Timestamp('2018-02-02 00:00:00'),
  23437.5,
  Timestamp('2018-02-02 00:00:00'),
  72,
  0,
  0,
  -1,
  0,
  -1,
  'dismissal'],
 [69.0,
  'דבורה',
  'לבינסקי',
  'F',
  Timestamp('1965-09-09 00:00:00'),
  Timestamp('2004-02-01 00:00:00'),
  14289.375,
  -1,
  -1,
  206550,
  14289.375,
  -1,
  0,
  -1,
  'dismissal'],
 [70.0,
  'איתן',
  'מנדל',
  'M',
  Timestamp('1966-04-29 00:00:00'),
  Timestamp('2017-02-01 00:00:00'),
  13237.5,
  Timestamp('2017-02-01 00:00:00'),
  100,
  0,
  0,
  Timestamp('2019-07-24 00:00:00'),
  0,
  -1,
  'dismissal'],
 [71.0,
  'משה',
  'דרור',
  'M',
  Timestamp('1966-06-22 00:00:00'),
  Timestamp('2017-09-01 00:00:00'),
  19134.375,
  Timestamp('2017-09-01 00:00:00'),
  72,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [72.0,
  'טליה',
  'לבנון',
  'F',
  Timestamp('1969-02-11 00:00:00'),
  Timestamp('2004-09-01 00:00:00'),
  26625,
  -1,
  -1,
  382500,
  26625,
  -1,
  0,
  -1,
  -1],
 [73.0,
  'מוריה',
  "ג'קסון",
  'F',
  Timestamp('1969-05-18 00:00:00'),
  Timestamp('2001-05-17 00:00:00'),
  11325,
  Timestamp('2013-12-30 00:00:00'),
  100,
  91800,
  0,
  -1,
  0,
  -1,
  -1],
 [74.0,
  'הילה',
  'אלטרמן',
  'F',
  Timestamp('1969-04-15 00:00:00'),
  Timestamp('2005-08-08 00:00:00'),
  13326.75,
  -1,
  -1,
  191250,
  13326.75,
  -1,
  0,
  -1,
  -1],
 [75.0,
  'אורית',
  'רגב',
  'F',
  Timestamp('1969-12-18 00:00:00'),
  Timestamp('2006-09-15 00:00:00'),
  12456.5625,
  -1,
  -1,
  153000,
  12456.5625,
  -1,
  0,
  -1,
  -1],
 [76.0,
  'מאיר',
  'שלונסקי',
  'M',
  Timestamp('1971-01-28 00:00:00'),
  Timestamp('2007-06-08 00:00:00'),
  14895,
  -1,
  -1,
  168300,
  14895,
  -1,
  0,
  -1,
  -1],
 [77.0,
  'מיטל',
  'שריקי',
  'F',
  Timestamp('1970-09-27 00:00:00'),
  Timestamp('2018-04-28 00:00:00'),
  12026.25,
  Timestamp('2018-04-28 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [78.0,
  'דינה',
  'כוגן',
  'F',
  Timestamp('1967-05-14 00:00:00'),
  Timestamp('2017-02-11 00:00:00'),
  14831.25,
  Timestamp('2017-02-11 00:00:00'),
  100,
  0,
  0,
  Timestamp('2019-12-03 00:00:00'),
  0,
  -1,
  'resignation'],
 [79.0,
  'טהילה',
  'וקנין',
  'F',
  Timestamp('1967-05-04 00:00:00'),
  Timestamp('2017-09-15 00:00:00'),
  9731.25,
  Timestamp('2017-09-15 00:00:00'),
  72,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [80.0,
  'רות',
  'בן משה',
  'F',
  Timestamp('1968-01-02 00:00:00'),
  Timestamp('2018-04-28 00:00:00'),
  17381.25,
  Timestamp('2018-04-28 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [81.0,
  'אמיליה',
  'קצנלסון',
  'F',
  Timestamp('1971-04-20 00:00:00'),
  Timestamp('2004-12-19 00:00:00'),
  11730.609375,
  Timestamp('2018-07-02 00:00:00'),
  72,
  150000,
  0,
  -1,
  0,
  -1,
  -1],
 [82.0,
  'חגית',
  'נחמני',
  'F',
  Timestamp('1971-02-15 00:00:00'),
  Timestamp('2018-01-18 00:00:00'),
  16743.75,
  Timestamp('2018-01-18 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [83.0,
  'ליאור',
  'שבתאי',
  'F',
  Timestamp('1974-12-20 00:00:00'),
  Timestamp('2011-03-03 00:00:00'),
  10966.40625,
  Timestamp('2019-09-30 00:00:00'),
  100,
  42075,
  0,
  Timestamp('2019-08-01 00:00:00'),
  32800,
  -1,
  'resignation'],
 [84.0,
  'בוריס',
  'ורניק',
  'M',
  Timestamp('1972-11-03 00:00:00'),
  Timestamp('2018-03-29 00:00:00'),
  16106.25,
  Timestamp('2018-03-29 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [85.0,
  'עינב',
  'כץ ',
  'F',
  Timestamp('1973-10-26 00:00:00'),
  Timestamp('2008-08-15 00:00:00'),
  7181.25,
  Timestamp('2012-06-01 00:00:00'),
  72,
  25000,
  0,
  -1,
  0,
  -1,
  -1],
 [86.0,
  'עדי',
  'חסן',
  'F',
  Timestamp('1974-04-28 00:00:00'),
  Timestamp('2010-06-09 00:00:00'),
  12867.75,
  Timestamp('2010-06-09 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [87.0,
  'דוד',
  'רוזנברג',
  'M',
  Timestamp('1974-09-03 00:00:00'),
  Timestamp('2011-05-10 00:00:00'),
  17540.625,
  Timestamp('2011-05-10 00:00:00'),
  50,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [88.0,
  'שלומית',
  'גירין',
  'F',
  Timestamp('1975-07-15 00:00:00'),
  Timestamp('2017-12-15 00:00:00'),
  15150,
  Timestamp('2017-12-15 00:00:00'),
  50,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [89.0,
  'שרון',
  'חביה תקומי',
  'M',
  Timestamp('1975-04-30 00:00:00'),
  Timestamp('2005-07-17 00:00:00'),
  23118.75,
  -1,
  -1,
  267750,
  23118.75,
  Timestamp('2019-07-06 00:00:00'),
  295200,
  -1,
  'resignation'],
 [90.0,
  'דניאל',
  'עמית',
  'F',
  Timestamp('1981-02-22 00:00:00'),
  Timestamp('2012-07-16 00:00:00'),
  15468.75,
  Timestamp('2016-11-30 00:00:00'),
  100,
  60000,
  0,
  -1,
  0,
  -1,
  -1],
 [91.0,
  'נעמה',
  'חן',
  'F',
  Timestamp('1981-06-21 00:00:00'),
  Timestamp('2011-01-16 00:00:00'),
  8073.75,
  -1,
  -1,
  53550,
  8073.75,
  -1,
  0,
  -1,
  -1],
 [92.0,
  'נדב',
  'בנט',
  'M',
  Timestamp('1971-12-12 00:00:00'),
  Timestamp('2017-12-21 00:00:00'),
  7715.15625,
  Timestamp('2017-12-21 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [93.0,
  'חנה',
  'ענבר',
  'F',
  Timestamp('1972-04-03 00:00:00'),
  Timestamp('2016-06-30 00:00:00'),
  6642.801227812501,
  Timestamp('2016-06-30 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [94.0,
  'ליאת',
  'בר',
  'F',
  Timestamp('1972-09-08 00:00:00'),
  Timestamp('2007-01-01 00:00:00'),
  8775,
  -1,
  -1,
  153000,
  8775,
  -1,
  0,
  -1,
  -1],
 [95.0,
  'רחל',
  'חדד',
  'F',
  Timestamp('1979-12-13 00:00:00'),
  Timestamp('2018-04-02 00:00:00'),
  10050,
  Timestamp('2018-04-02 00:00:00'),
  100,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [96.0,
  'מרינה',
  'קדוש',
  'M',
  Timestamp('1980-06-10 00:00:00'),
  Timestamp('2017-01-29 00:00:00'),
  13556.25,
  Timestamp('2017-01-29 00:00:00'),
  50,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [97.0,
  'איתן',
  'ספיר',
  'M',
  Timestamp('1980-01-26 00:00:00'),
  Timestamp('2016-12-22 00:00:00'),
  10560,
  Timestamp('2016-12-22 00:00:00'),
  50,
  0,
  0,
  -1,
  0,
  -1,
  -1],
 [98.0,
  'דבורה',
  'וקנין',
  'F',
  Timestamp('1978-02-10 00:00:00'),
  Timestamp('2007-06-22 00:00:00'),
  13989.75,
  -1,
  -1,
  53550,
  13989.75,
  -1,
  0,
  -1,
  -1],
 [99.0,
  'לוסי',
  'שרחה ',
  'F',

In [19]:
# Update the header dict
header_dict[0] = 'ID'
header_dict = {v: k for v, k in enumerate(header_dict)}
print(header_dict)

{0: 'ID', 1: 'שם ', 2: 'שם משפחה', 3: 'מין', 4: 'תאריך לידה', 5: 'תאריך תחילת עבודה ', 6: 'שכר ', 7: 'תאריך  קבלת סעיף 14', 8: 'אחוז סעיף 14', 9: 'שווי נכס', 10: 'הפקדות', 11: 'תאריך עזיבה ', 12: 'תשלום מהנכס', 13: "השלמה בצ'ק", 14: 'סיבת עזיבה'}

In [20]:
data_dict['data'][0]

[1.0,
 'חיים',
 'גלוקמן ',
 'M',
 Timestamp('1981-09-09 00:00:00'),
 Timestamp('2013-11-10 00:00:00'),
 6384.375,
 Timestamp('2013-11-10 00:00:00'),
 100,
 0,
 0,
 -1,
 0,
 -1,
 -1]

## Load second sheet from the excel

In [7]:
df3 = pd.read_excel(xls, 'הנחות')

### Define interest rate variable as dictionary

In [8]:
df4 = df3.iloc[2:,1:2]
df4.index -= 1
interest_rate = df4.to_dict()['Unnamed: 1']
print(interest_rate)

{1: 0.0181465, 2: 0.0198745, 3: 0.02109, 4: 0.0220955, 5: 0.023014999999999997, 6: 0.023857999999999997, 7: 0.024624999999999998, 8: 0.025346, 9: 0.026036, 10: 0.026704, 11: 0.027355, 12: 0.0279935, 13: 0.0286205, 14: 0.0292405, 15: 0.029854000000000002, 16: 0.030467500000000005, 17: 0.031081000000000008, 18: 0.031694500000000014, 19: 0.03230800000000002, 20: 0.03292150000000002, 21: 0.03353500000000002, 22: 0.034148500000000026, 23: 0.03476200000000003, 24: 0.03537550000000003, 25: 0.035989000000000035, 26: 0.03660250000000004, 27: 0.03721600000000004, 28: 0.037829500000000044, 29: 0.03844300000000005, 30: 0.03905650000000005, 31: 0.03967000000000005, 32: 0.040283500000000055, 33: 0.04089700000000006, 34: 0.04151050000000006, 35: 0.042124000000000064, 36: 0.04273750000000007, 37: 0.04335100000000007, 38: 0.04396450000000007, 39: 0.044578000000000076, 40: 0.04519150000000008, 41: 0.04580500000000008, 42: 0.046418500000000085, 43: 0.04703200000000009, 44: 0.04764550000000009, 45: 0.048259000000000093, 46: 0.048872500000000096, 47: 0.0494860000000001}

## Departure probabilities

In [11]:
# Departure probabilities
def get_prob(age, param):
    # Dict: key: (age, age) : value: [dismissal, resignation]
    prob_table = {(18, 29): [0.07 , 0.2], 
     (30, 39): [0.05, 0.13], 
     (40, 49): [0.04, 0.1],
     (50, 59): [0.03, 0.07],
     (60, 67): [0.02, 0.03]
    }
    for key in prob_table.keys():
        if key[0] <= age <= key[1]:
            return prob_table[key]
        else:
            return None

### Other parameters

In [ ]:
pay_rise = 0.03
payroll_daterise = datetime.datetime(2020,7,1)

## Death board

In [44]:
cs1 = pd.read_csv('/Users/tzvip/PycharmProjects/Financial-compensation-calculator/data/deathBoardMale.csv', header=None)
male_death = cs1.to_dict()[0]
cs2 = pd.read_csv('/Users/tzvip/PycharmProjects/Financial-compensation-calculator/data/deathBoradFemale.csv', header=None)
female_death = cs2.to_dict()[0]